<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Amazing Calc app</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div class = 'navwrap'>
    <div class ='navdiv'>
      <nav>
      <li> <a href="/">Basic Calc</a></li>
      <li> <a href="/power">Power</a></li>
      <li> <a href="/sqrt">Square Root</a></li>
      <li> <a href="/bmi">Bmi Calc</a></li>
      <li> <a href="/mort_calc">Mortgage Calc</a></li>
      <li> <a href="/trip_calc">Trip Calc</a></li>
      </nav>
      <%= yield %>
    </div>
  </div>





</body>
</html>