
<div class = 'formdiv'> 

<form actions ="/power" method="get">
<!-- say where its going to go, and what kind of thing to do.   -->
  <label for="first">First Number</label> 
  <input type="text" name="first" placeholder="enter the first number"></br>
  <!-- name is v important, defines the key valuepair that the data will go to.
  Its the key in the params hash -->
  <label for="second">Second Number</label>
  <input type ="text" name="second" placeholder="Enter a second number"></br>
  <input type="submit">

</form>

<% if @result %>
<p>The result of <%= @first %> <%= @operator %> <%= @second %> is <%= @result %>   </p>
<% end %>
</div>